# Java files             #
##########################
target/

# Eclipse files          #
##########################
.settings
.classpath
.project
.externalToolBuilders
.springBeans
.factorypath
bin

*.tmp
~*
